header {
    color: red;
}

nav {
    color: red;
}

article {
    color: black;
}

aside {
    color: gray;
}

#NavigationBar{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  background-color: red;
  color:yellow;
  text-decoration:none;
}
#NavigationBar a {
  color: gray;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
#NavigationBar a:hover {
  background-color: black;
}

#NavigationBar li { display: inline; }

input {
    background: grey;
    padding: 7px 30px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-align: center;
}



	
	h2 {	
	font-size: 30px;
	font-style:italic;	
	text-align:center;
	}
	
	a{
		text-decoration:none;
	}
	p{
		text-align:center;
	}

#wrap{
	width: 800px;	
	margin: 0 auto;		
}

#mapContainer {
	position:relative;
    height: 500px;
    width: 800px;
	border:10px solid #ffeaea;	
}